.day {
  font-size: 15px;
}

.row {
  margin: 10px;
  padding: 0px;
  color: black;
  text-align: center;
  color: #fecea8;
}

.search-form {
  text-align: left;
  display: inline-block;
}

.col-6 {
  display: inline-block;
  padding: 10px;
  margin: 0px;
}

.col-3 {
  text-align: left;
  display: inline-block;
  padding: 0px;
  margin: 0px;
}

.city {
  color: #fecea8;
  font-weight: 700;
  font-size: 30px;
  margin: 10px;
}

.sent {
  margin: 15px;
  border: rgb(0, 0, 0);
}

.text {
  padding-right: 40px;
  padding-left: 10px;
}

.text {
  color: #ff847c;
}

.temp {
  color: #45171d;
}

.sun {
  display: block;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #fecea8;
}
